:root {
  --dark-blue: #000A1C;
  --light-orange: #E28413;
  --dark-green: #005414;
  --light-green: #01D852;
  --medium-green: #03973A;
  --light-blue: #40BCF4;
  --light-grey: rgb(223, 225, 226);
  --dark-grey: #80858E;
}